/* start of primero */

@use 'minireset';

$namespace : primero;
$prm : #{$namespace}-;

:root {
  --#{$prm}blue  : #04b;
  --#{$prm}green : #0b4;
  --#{$prm}red   : #b40;
}

$blue  : var(--#{$prm}blue);
$green : var(--#{$prm}green);
$red   : var(--#{$prm}red);

$header_sizes : (1.6,1.45,1.35,1.25,1.15,1.1);

@mixin headers($index) {
  h#{$index} {
    font-size: #{nth($header_sizes, $index)}rem;
  }
}

@for $ndx from 1 through 6 {
  @include headers($ndx);
}

a {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: $blue;
  color: $blue;
  text-decoration: none;

  &:visited {
    border-bottom-color: $red;
    color: $red;
  }

  &:hover, &:active {
    border-bottom-color: $green;
    border-bottom-style: solid;
  }
}
